<!-- Content Heading Section -->
<!-- This section displays the main heading of the page, using the title passed from the controller. -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/');
} %>

<!-- Error Message Section -->
<div class="error-message">
    <p><%- message %></p>
    <% if (title === '404 Not Found') { %>
      <img src="/images/site/error-404.jpg" alt="Funny 404 image" class="error-image">
      <p>Don't worry, it's not you—it's us. Let's get you back on track!</p>
    <% } else { %>
      <img src="/images/site/error-500.jpg" alt="Funny 500 image" class="error-image">
      <p>Oops! Something went wrong on our end. We're working to fix it!</p>
    <% } %>
    <a href="/" class="cta">Go Home</a>
  </div>